* {
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-image: url("/fancy-hats-exercise/images/background-image.png");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-heading {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 3px;
}

.fancy-hats-establishment {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 90px; */
    letter-spacing: 4px;
    font-weight: 700;
}

.since {
    transform: rotate(-90deg);
}

.year {
    font-family: 'Roboto Condensed', sans-serif;
    transform: rotate(-90deg);
    font-size: 150px;
}