$bodyBackgroundColor: #000;
$navBarColor: #041D2E;
$navBarFontColor: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
}

@mixin displayHidden {
    display: none;
}

@mixin mousePointer {
    cursor: pointer;
}

@mixin colorPalette {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@mixin button-styles {
    border-radius: 50px;
    color: $navBarFontColor;
    font-weight: 100px;
    font-size: 20px;
    padding: 10px 40px;
    border: none;
}

body {
    // overflow-y: hidden;
    font-family: 'Lato', sans-serif;
    background-color: $bodyBackgroundColor;
}

.hideDisplay {
    @include displayHidden();
}

.nav-bar {
    @include flex();

    top: 0;
    z-index: 1;
    padding: 40px;
    position: sticky;
    align-items: center;
    color: $navBarFontColor;
    background-color: #041D2E;
    justify-content: space-between;

    h3 {
        font-size:  35px;
        font-weight: 400;
        font-family: 'IBM Plex Serif', sans-serif;

        span {
            font-weight: 700;
        }
    }

    button {
        @include button-styles();
        @include mousePointer();
    }

    .float-right {
        @include flex();
        gap: 20px;
    }

    #deleteAllButton, #deleteButton {
        background-color: #A80000;
    }

    #newButton, #editButton {
        background-color: #B355B7;
    }

    // #deleteButton {
    //     @include displayHidden();
    // }

    // #editButton {
    //     @include displayHidden();
    // }

    #deleteAllButton {
        @include displayHidden();
    }

    #newButton {
        @include displayHidden();
    }
}

.dimming-effect {
    @include displayHidden();

    top: 0;
    z-index: 2;
    width: 100%;
    opacity: 0.8;
    height: 100%;
    position: absolute;
    background-color: $navBarColor;
}

.cards-container {
    @include flex();
    // @include displayHidden();

    width: 79%;
    margin: auto;
    margin-top: 56px;
    flex-wrap: wrap;
    gap: 45px;

    .card {
        @include flex();
        @include mousePointer();

        gap: 15px;
        width: 372px;
        height: 496px;
        color: #000;
        border-radius: 6px;
        padding: 26px 32px;
        flex-direction: column;
        background-color: #E5EE91;

        .card-heading {
            color: #272717;
            font-weight: 400;
            font-size: 35px;
        }

        .date {
            color: #52402D;
            font-weight: 400;
            font-size: 15px;
        }

        .notes {
            font-size: 16px;
            line-height: 1.8;
            color: #272717;
            overflow: hidden;
        }
    }
}

.load-more {
    @include flex();
    @include displayHidden();

    justify-content: center;

    .load-more-button {
        @include mousePointer();
        @include button-styles();

        margin-top: 4vh;
        padding: 25px 40px;
        background-color: #B355B7;
    }
}

.empty-container {
    @include flex();
    @include displayHidden();

    margin-top: 10vh;
    flex-direction: column;
    align-items: center;

    img {
        width: 270px;
        height: 270px;
    }

    .empty-container-heading {
        color: #B2B2B2;
        font-weight: 400;
        font-size: 32px;
    }
}

.expanded-card {
    @include displayHidden();

    width: 57%;
    margin: auto;
    margin-top: 4vh;

    .card-contents-container {
        @include flex();

        gap: 25px;

        .color-circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            flex-shrink: 0;
            background-color: #E5EE91;
        }

        .content {
            @include flex();
            
            flex-direction: column;
            color: #fff;
            gap: 8px;

            .content-heading {
                font-size: 35px;
            }

            .content-date {
                color: #CDCDCD;
                font-weight: 300;
            }

            .content-parah {
                font-size: 20px;
                line-height: 2;
                font-weight: 300;
            }
        }
    }
}

.add-notes {
    @include flex();
    @include displayHidden();

    top: 0;
    right: 0;
    z-index: 3;
    width: 720px;
    height: 100%;
    color: #fff;
    padding: 50px;
    position:  absolute;
    flex-direction: column;
    background-color: #000;

    .addNotesForm {
        @include flex();

        gap: 30px;
        margin-top: 4vh;
        flex-direction: column;

        input {
            border: 0;
            font-size: 30px;
            color: #6B6B6B;
            background-color: #000;
            font-family: 'Lato', sans-serif;
        }

        textarea {
            border: 0;
            resize: none;
            height: 73vh;
            font-size: 20px;
            color: #6B6B6B;
            background-color: #000;
            font-family: 'Lato', sans-serif;
        }

        .bottom-bar {
            @include flex();

            justify-content: space-between;

            .color-palette {
                @include flex();

                gap: 12px;

                .color-1 {
                    @include colorPalette();

                    background-color: #EBCCED;
                }

                .color-2 {
                    @include colorPalette();

                    background-color: #FCFCFC;
                }

                .color-3 {
                    @include colorPalette();

                    background-color: #FFCA71;
                }

                .color-4 {
                    @include colorPalette();

                    background-color: #E5EE91;
                }

                .color-5 {
                    @include colorPalette();

                    background-color: #FFA78C;
                }
            }

            button {
                @include button-styles();
                @include mousePointer();

                background-color: #B355B7;
            }
        }
    }
}

.container-heading {
    @include flex();

    width: 100%;
    font-size: 12px;
    padding: 15px 20px;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    background-color: $navBarColor;

    i {
        @include mousePointer();

        font-size: 20px;
        color: #999999;
    }
}

.alert-box {
    @include flex();
}