* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #000;
}

.section-one {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: #A9E087;
    padding: 35px 38px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}

.choose-shape {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 260px;
    font-weight: 400;
    font-size: 65px;
}

.shape {
    padding: 110px;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.next-button {
    display: none;
}

.fa-check {
    /* display: none; */
    color: #fff;
    font-size: 75px;
    margin-top: 45px;
}

.circle {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    background-color: #00987C;
    cursor: pointer;
}

.triangle {
    width: 160px;
    height: 160px;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    border-bottom: 160px solid #FFABDC;
    cursor: pointer;
}

.square {
    width: 160px;
    height: 160px;
    background-color: #E0E0E0;
    cursor: pointer;
}

.next-button {
    display: flex;
    justify-content: center;
}

.action-button {
    background-color: #000;
    border: #fff solid 2px;
    color: #fff;
    padding: 12px 75px;
    font-size: 25px;
    cursor: pointer;
}

.section-two, .section-three {
    margin-top: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    display: none;
}

#enterDetailsStatement {
    color: #fff;
    font-weight: 400;
    font-size: 65px;
}

#value {
    border: 2px solid #fff;
    background-color: #000;
    text-align: center;
    width: 700px;
    height: 80px;
    color: #fff;
    font-size: 25px;
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    display: none;
}

.metric-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.metric-table p {
    margin-top: 20px;
    font-size: 65px;
}

.metric-table table {
    width: 470px;
    font-size: 25px;
    border-spacing: 0px 20px;
}

.metric-table table td {
    padding: 10px;
    background-color: #0D62D6;
    width: 200px;
}

.metric-table table td:nth-child(2){
    background-color: #455D7E;
    width: 130px;
}

.metric-table table td:last-child {
    background-color: #3288FF;
}